*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
    font-family: "Roboto",sans-serif;

}

:root {
--DarkSlateGrey: hsl(234, 29%, 20%);
--CharcoalGrey: #36384e;
--Grey: #9294a0;
--White: hsl(0, 0%, 100%);
--tomato:#ff6257;
font-size: 62,5%;
}


body {
background-color: var(--CharcoalGrey);
font-family: "Roboto", sans-serif;

}

.container{
    background-color: var(--White);
    width: 800px;
    height: auto;
    padding: 10px;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    

    


}
div #titulo {
    height: 100px;
    width: 400px;
    margin-top: 40px;    
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    text-wrap: nowrap;
    text-align: center;
    font-weight: bold;

    
    
}

div #paragrafo{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
}

p{
    margin-left: 20px;
    
}

li {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 10px;
}

#item1,
#item2,
#item3 {

    background: url("./assets/images/icon-list.svg") no-repeat left center;
    padding-left: 30px;
    background-size: 16px;
}

#imagens img {
    width: auto;
    height: 480px;;
    object-fit: cover;
}

/* Email submit*/
.inputUser{
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    position: relative;
    left: 20px;
    border: 1px solid var(--Grey); 
    color: var(--Grey);   
}

.inputUser:hover{
    border: 1px solid var(--DarkSlateGrey);
}

/* Email address*/
.inputUserEmail{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    
}

button {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    background-image: linear-gradient(to right, #ff005e, #ff2d5b, #ff4358, #ff5457, #ff5549);
    color: var(--White);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    left: 20px;
    
} 


button::before{
    content: "";
    position: absolute; 
    inset: -1px;
    background: linear-gradient(to right, #ff005e, #ff2d5b, #ff4358, #ff5457, #ff5549);;
    filter: blur(17px);
    transform: translate3d(0px,12px,-1px);
    border-radius: inherit;
    pointer-events: none;
      }

      #confirmed-message {
        
        line-height: 1.2;
        background-color: var(--White);
        width: 400px;
        height: 400px;


        
        padding: 40px;

        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        

        align-content: center;
        border-radius: 2rem;

        align-items: center;
      }
      #confirmed-message {
        display: none;
      }
      
      #confirmed-message img {
        width: 40px;
        margin-top: 40px;
      }
      #confirmed-message h2 {
        font-size: 3rem;
        margin-top: 1.5rem;
      }
      #confirmed-message p {
        margin: 2rem 0;
      }
      #confirmed-message button {

        margin-top: 5px;
        margin-bottom: 60px;
        cursor: pointer;
        font-weight: 700;
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        border: none;
        outline: none;
        margin-left: -20px;
    
      }

      @media (max-width: 768px) {
       .container {
        border-radius: 0;
        display: grid;
       
        

        grid-template-columns: 1fr;

        margin-top: auto;
        line-height: 1.4;   
        align-items: center;
        
        
        width: 450px;
  
    

    } 
    
    .container, #imagens {
        grid-row:2/-1;

        
    }
#imagens{
    margin-top: -10px;
    background-size: cover;
    margin-left: -20px;
    margin-right: -10px;
    width: auto;
    
}
    #imagens img {
        width: 100%;
        height: 300px;
    }

    
    #infos {
        margin-top: -4rem;
        align-content: center;
    }

    #newsletterForm {
        margin-bottom: 40%;
        width: 100vw;
        
    }
    .inputBox {
        padding: 1rem;
        margin-right: 2rem;
    }
      #submit {
        margin-bottom: 20px;
      }
   
      #confirmed-message img {
       
    margin-top: 100px;
        
      }
      #confirmed-message button {
        margin-bottom: 100px;
        
      }
 }